@model Blog

@if (Model != null) {
    
    <div class="blog_item">
        @if(Model.AuthorUserName == User.Identity.Name) {

            <a asp-controller="Blog" asp-action="Edit" asp-route-blog_id="@Model.Id" title="Edit" class="btn btn-primary btn_edit">
                <ion-icon name="create-outline"></ion-icon>
            </a>
        }
        <div class="img_box">
            <img src="@Model.ImageURL" alt="alt">

        </div>

        <div class="authorize">
            <img src="https://images.unsplash.com/photo-1592452738030-cf604328ddf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="default" class="avatar">
            <div class="text_group">
                <div class="text_author">
                    <a asp-controller="Profile" asp-action="Index" asp-route-UserName="@Model.AuthorUserName" class="text-decoration-none">@Model.AuthorUserName</a>
                </div>
                <div class="text_time">@Model.DateTimeOfPublic.ToLongDateString()</div>
            </div>
        </div>

        <div class="text_title">
            <a asp-controller="Blog" asp-action="Detail" asp-route-blog_id="@Model.Id" class="text-decoration-none">@Model.Title</a>
        </div>
        <div class="topic_published">
            <a asp-controller="Blog" asp-action="Index" asp-route-topic_id="@Model.TopicId" class="text_topic">@Model.Topic.Name</a>
            <span class="text_published"> - @Model.DateTimeOfPublic.ToLongDateString()</span>
            <a asp-controller="Blog" asp-action="Detail" asp-route-blog_id="@Model.Id" class="btn btn-outline-info btn-sm view_detail">View Details</a>
        </div>
    </div>
}

